__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.svn/
.hg/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
*.egg-info/
.installed.cfg
*.egg
build/
dist/
ragwatch.db
eval_results.db
